body {
  background-color: #F3F3F3;
}

#root {
	padding: 24pt;
  width: 25%;
  margin: 0 auto;
}


input {
  margin: 5px 0;
}


select {
  overflow-y: auto;
}


.toolbutton {
  width: 25px;
  font-family: "Courier New", Courier, monospace;
}

.short {
  width: 50px;
}

.semesters {
  width: 150px;
  display: inline-block;
}

.semester {
  display: inline-block;

  min-width: 130px;
  padding: 5px;

  vertical-align: top;

  border-style: solid;
  border-width: 1px;
}

.buttons input {
  margin: 5px 2px;
}


#year {
  width: 50px;
}

#ref {
  width: 30px;
}
